@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: .3s;
    color: $link_color;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $text_color;
}

.btn{
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    &.btn-primary{
        padding: 12px 65.5px;
        background-color: $primary_color;
        color: $white;
        &:hover{
            background-color: $link_hover;
        }
    }
}