/* Base */ /* Common */ /* Colors */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #494949;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
}
.btn.btn-primary {
  padding: 12px 65.5px;
  background-color: #0099FF;
  color: #fff;
}
.btn.btn-primary:hover {
  background-color: #333;
}
.btn.btn-border {
  padding: 11px 51.5px;
  border: 1px solid #0099FF;
  color: #0099FF;
}

.mx-auto {
  margin: 0 auto;
}

/* Variable */
/* Colors */
/* Grid */
.container {
  width: 100%;
  padding: 0 30px;
  margin: auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 15px;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding: 15px;
  }
  .col-lg-3 {
    width: 25%;
    padding: 15px;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    padding: 15px;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding: 15px;
  }
  .col-lg-6 {
    width: 50%;
    padding: 15px;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding: 15px;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    padding: 15px;
  }
  .col-lg-9 {
    width: 75%;
    padding: 15px;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding: 15px;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding: 15px;
  }
  .col-lg-12 {
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 15px;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    padding: 15px;
  }
  .col-xl-3 {
    width: 25%;
    padding: 15px;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    padding: 15px;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    padding: 15px;
  }
  .col-xl-6 {
    width: 50%;
    padding: 15px;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    padding: 15px;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    padding: 15px;
  }
  .col-xl-9 {
    width: 75%;
    padding: 15px;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    padding: 15px;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    padding: 15px;
  }
  .col-xl-12 {
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 15px;
  }
}
/* Flexbox */
/* Flex */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/* Flex Direction */
.d-row {
  flex-direction: row;
}

.d-row-reverse {
  flex-direction: row-reverse;
}

.d-column {
  flex-direction: column;
}

.d-column-reverse {
  flex-direction: column-reverse;
}

/* Justify Content */
.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/* Align Content */
.align-flex-start {
  align-content: flex-start;
}

.align-center {
  align-content: center;
}

.align-flex-end {
  align-content: flex-end;
}

.align-space-between {
  align-content: space-between;
}

.align-space-around {
  align-content: space-around;
}

.align-space-evenly {
  align-content: space-evenly;
}

/* Align Items */
.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

/* Typography */
h1 {
  font-size: 56px;
  line-height: 61.6px;
}

h2 {
  font-size: 48px;
  line-height: 52.8px;
}

h3 {
  font-size: 40px;
  line-height: 44px;
}

h4 {
  font-size: 32px;
  line-height: 35.4px;
}

h5 {
  font-size: 24px;
  line-height: 26.4px;
}

h6 {
  font-size: 20px;
  line-height: 22px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Layouts */
/* Header */
.header {
  padding: 32px 0;
  border-bottom: 1px solid #DADADA;
}
.header__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  display: block;
  margin: 0 20px;
}
.header__menu-link:hover {
  color: #0099FF;
}

/* Bannar */
.bannar {
  padding: 49px 0 120px;
}
.bannar__title {
  font-size: 60px;
  line-height: 66px;
  letter-spacing: -0.015em;
}
.bannar__desc {
  margin: 32px 0 40px;
  font-size: 18px;
  line-height: 28.8px;
}
.bannar__btn {
  margin-right: 16px;
}
.bannar__btn.btn-primary {
  padding: 12px 38.5px;
}

/* Section Title */
.section-title {
  margin-bottom: 72px;
}
.section-title__sub {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.section-title__heading {
  font-size: 48px;
  line-height: 66.4px;
  font-weight: 700;
  margin: 20px 0 32px;
}
.section-title__desc {
  max-width: 612px;
  margin: 0 auto;
  color: #494949;
  line-height: 25px;
}

/* Services */
.services {
  background-color: rgba(0, 153, 255, 0.04);
  padding: 120px 0;
}
.services__single {
  box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
  background-color: #fff;
  padding: 57.5px 26.5px;
  transition: 0.3s;
  border: 2px solid transparent;
}
.services__single:hover {
  border-color: #0099FF;
}
.services__title {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 38.5px;
}
.services__desc {
  color: #494949;
}

/* About */
.about {
  padding: 80px 0 120px;
}
.about__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 66.24px;
  margin: 16px 0 24px;
}
.about__desc {
  margin-bottom: 25px;
}
.about__btn {
  margin-top: 20px;
  padding: 12px 36px !important;
}

/* Teams */
.team {
  background-color: rgba(0, 153, 255, 0.04);
  padding: 120px 0 135px;
}
.team__single {
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
  min-height: 370px;
  position: relative;
}
.team__content {
  background-color: #fff;
  border-radius: 4.5px;
  position: absolute;
  bottom: -60px;
  box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
  padding: 12px;
  width: 80%;
  left: 10%;
  right: 10%;
}
.team__social a {
  display: inline-block;
  font-size: 16px;
  margin-right: 14px;
}
.team__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 10px 0 8px;
}
.team__desg {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #494949;
  margin-top: 8px;
}

/* Portfolio */
.portfolio {
  padding: 118px 0 120px;
}
.portfolio__img {
  width: 100%;
}
.portfolio__single {
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
  border-radius: 4px;
  border: 1px solid #ddd;
}
.portfolio__title {
  font-size: 28px;
  line-height: 38.5px;
  font-weight: 700;
  margin: 26px 0 20px;
}
.portfolio__desc {
  font-size: 14px;
  line-height: 21.7px;
}
.portfolio__link {
  display: inline-block;
  margin-top: 32px;
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}
.portfolio__link:hover:before {
  width: 100%;
}
.portfolio__link:before {
  position: absolute;
  content: "";
  background-color: #0099FF;
  height: 2px;
  width: 0;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
}
.portfolio__btn {
  width: 100%;
  text-align: center;
  margin-top: 35px;
}

/* Single Portfolio */
.single-portfolio {
  background-color: #F5FBFF;
  padding: 120px 0 57px;
}
.single-portfolio__desc {
  font-size: 14px;
  line-height: 21.7px;
  margin: 24px 0;
}
.single-portfolio li {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  padding-bottom: 9px;
  margin-bottom: 9px;
}
.single-portfolio li span {
  font-weight: 400;
}
.single-portfolio__btn {
  padding: 12px 20px !important;
  margin-top: 69px;
}

.portfolio-related {
  padding: 120px 0;
}
.portfolio-related__title {
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 66.24px;
}

/* Faqs */
.faq {
  background-color: #F2FAFF;
  padding: 120px 0 96px;
}
.faq__box {
  box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
  background-color: #fff;
  padding: 32px 32px 16px;
  margin-bottom: 24px;
  border-radius: 4px;
}
.faq__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  margin-bottom: 21px;
  position: relative;
}
.faq__title.active:after {
  transform: rotate(180deg);
}
.faq__title:after {
  content: "\f107";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  right: 0;
  font-size: 24px;
  transition: 0.3s;
}
.faq__desc {
  max-width: 892px;
  display: none;
  padding-bottom: 53px;
}

/* Testimonial */
.testimonial {
  padding: 120px 0 102px;
}
.testimonial__titlte {
  font-weight: 700;
  font-size: 48px;
  line-height: 66.24px;
}
.testimonial__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin: 24px 0 48px;
}
.testimonial__single {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 26px;
}
.testimonial__single i {
  color: #0099FF;
}
.testimonial__speech {
  font-size: 14px;
  line-height: 21.7px;
  font-weight: 400;
  margin: 24px 0;
}
.testimonial__info {
  display: flex;
  align-items: center;
}
.testimonial__img {
  margin-right: 16px;
}
.testimonial__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.testimonial__desg {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.7px;
}

/* CTA */
.cta__box {
  background-color: #333;
  color: #fff;
  padding: 110px 96px;
  border-radius: 4px;
}
.cta__title {
  font-size: 32px;
  line-height: 42.5px;
}
.cta__desc {
  max-width: 475px;
  font-size: 18px;
  line-height: 28.8px;
  margin-top: 24px;
}
.cta__btn a {
  margin-left: 16px;
} /* Breadcumb */
.breadcumb {
  background-color: #0099FF;
  color: #fff;
  padding: 120px 0;
}
.breadcumb__title {
  font-size: 60px;
  line-height: 66px;
  margin-bottom: 20px;
  letter-spacing: -0.015em;
}
.breadcumb__desc {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28.8px;
}

/* Footer */
.footer {
  background-color: #F2FAFF;
  padding: 92.88px 0 80px;
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__desc {
  max-width: 307px;
  font-size: 18px;
  line-height: 28.8px;
  color: #494949;
  margin-bottom: 32px;
}
.footer__social {
  display: inline-block;
  background-color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin-right: 16px;
  transition: 0.3s;
}
.footer__social:hover {
  background-color: #0099FF;
  color: #fff;
}
.footer__title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 40px;
}
.footer__link {
  display: block;
  font-size: 18px;
  line-height: 28.8px;
  color: #494949;
  margin-bottom: 20px;
  transition: 0.3s;
}
.footer__link:hover {
  color: #0099FF;
}
.footer__last {
  font-size: 18px;
  line-height: 28.8px;
  margin-bottom: 32px;
}
.footer__form input[type=email] {
  background-color: #333;
  border: 0;
  padding: 12.5px 24px;
  width: 100%;
  color: #999;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28.8px;
}
.footer__form input[type=submit] {
  background-color: #0099FF;
  margin-top: 24px;
  padding: 12.5px 57px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 28.8px;
}/*# sourceMappingURL=style.css.map */