/* Base */ /* Common */ /* Colors */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #494949;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
}
.btn.btn-primary {
  padding: 12px 65.5px;
  background-color: #0099FF;
  color: #fff;
}
.btn.btn-primary:hover {
  background-color: #333;
}

/* Variable */
/* Colors */
/* Grid */
.container {
  width: 100%;
  padding: 0 30px;
  margin: auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
/* Flexbox */
/* Flex */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/* Flex Direction */
.d-row {
  flex-direction: row;
}

.d-row-reverse {
  flex-direction: row-reverse;
}

.d-column {
  flex-direction: column;
}

.d-column-reverse {
  flex-direction: column-reverse;
}

/* Justify Content */
.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/* Align Content */
.align-flex-start {
  align-content: flex-start;
}

.align-center {
  align-content: center;
}

.align-flex-end {
  align-content: flex-end;
}

.align-space-between {
  align-content: space-between;
}

.align-space-around {
  align-content: space-around;
}

.align-space-evenly {
  align-content: space-evenly;
}

/* Align Items */
.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

/* Typography */
h1 {
  font-size: 56px;
  line-height: 61.6px;
}

h2 {
  font-size: 48px;
  line-height: 52.8px;
}

h3 {
  font-size: 40px;
  line-height: 44px;
}

h4 {
  font-size: 32px;
  line-height: 35.4px;
}

h5 {
  font-size: 24px;
  line-height: 26.4px;
}

h6 {
  font-size: 20px;
  line-height: 22px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Layouts */
/* Header */
.header {
  padding: 32px 0;
  border-bottom: 1px solid #DADADA;
}
.header__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  display: block;
  margin: 0 20px;
}
.header__menu-link:hover {
  color: #0099FF;
}/*# sourceMappingURL=style.css.map */