.bannar{
    padding: 49px 0 120px;
    &__title {
        font-size: 60px;
        line-height: 66px;
        letter-spacing: -0.015em;
    }
    &__desc {
        margin: 32px 0 40px;
        font-size: 18px;
        line-height: 28.8px;
    }
    &__btn {
        padding: 10px 15px !important;
        margin: 10px 60px;
        @include min-large{
            margin: 0;
            margin-right: 16px;
        }
        &.btn-primary{
            padding: 12px 38.5px !important;
        }
        &.btn-border{
            padding: 11px 51.5px !important;
        }
    }
}
