.portfolio {
	padding: 118px 0 120px;
    &__img {
        width: 100%;
    }
    &__single {
        padding: 20px;
        box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
        border-radius: 4px;
        border: 1px solid #ddd;
        margin-bottom: 30px;
        @include min-large {
            margin-bottom: 0;
        }
    }
    &__title {
        font-size: 28px;
        line-height: 38.5px;
        font-weight: 700;
        margin: 26px 0 20px;
    }
    &__desc {
        font-size: 14px;
        line-height: 21.7px;
    }
    &__link {
        display: inline-block;
        margin-top: 32px;
        font-size: 18px;
        line-height: 28.8px;
        font-weight: 500;
        position: relative;
        transition: .3s;
        &:hover{
            &:before{
                width: 100%;
            }
        }
        &:before {
            position: absolute;
            content: "";
            background-color: $primary_color;
            height: 2px;
            width: 0;
            bottom: -6px;
            left: 0;
            transition: .3s;
        }
    }
    &__btn {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
}


/* Single Portfolio */

.single-portfolio {
    background-color: #F5FBFF;
    padding: 120px 0 57px;
    &__desc {
        font-size: 14px;
        line-height: 21.7px;
        margin: 24px 0;
    }
    li{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 28.8px;
        font-weight: 500;
        border-bottom: 1px solid #ddd;
        padding-bottom: 9px;
        margin-bottom: 9px;
        span{
            font-weight: 400;
        }
    }
    &__btn {
        padding: 12px 20px !important;
        margin-top: 69px;
    }
}


.portfolio-related {
    padding: 120px 0;
    &__title {
        margin-bottom: 80px;
        font-size: 48px;
        line-height: 66.24px;
    }
}