.services{
    background-color: rgba(0, 153, 255, 0.04);
    padding: 120px 0;
    &__single{
        box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
        background-color: $white;
        padding: 57.5px 26.5px;
        transition: .3s;
        border: 2px solid transparent;
        margin-bottom: 30px;
        &:hover{
            border-color: $primary_color;
        }
        @include min-large {
            margin-bottom: 0;
        }
    }
    &__title {
        margin-top: 16px;
        margin-bottom: 24px;
        font-size: 22px;
        line-height: 24px;
        @include min-xx-large {
            font-size: 28px;
            line-height: 38.5px;            
        }
    }
    &__desc{
        color: #494949;
    }
}