.testimonial {
	padding: 120px 0 102px;
    &__single{
        margin-bottom: 30px;
        @include min-large{
            margin-bottom: 0;
        }
    }
    &__titlte {
        font-weight: 700;
        font-size: 48px;
        line-height: 66.24px;
    }
    &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        margin: 24px 0 48px;
    }
    &__single {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 26px;
        i{
            color: #0099FF;
        }
    }
    &__speech {
        font-size: 14px;
        line-height: 21.7px;
        font-weight: 400;
        margin: 24px 0;
    }
    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        @include min-large {
            flex-direction: row;
            text-align: left;
        }
    }
    &__img {
        margin-right: 0;
        @include min-large {
            margin-right: 16px;
        }
    }
    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
        @include min-large {
            margin-top: 0;
        }
    }
    &__desg {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 21.7px;
    }
}